.card{
    width: 25%;
    border: 1px solid #000000;
    margin-left: 40px;
    margin-top : 30px
} 
.card img{
    width: 100%;
}
.card-content{
    padding: 40px;
}
button {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #038c5a;
}